<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968288726776-nak9dt6d013ou9ki3gt78rnns8qiku56.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968288726776-nak9dt6d013ou9ki3gt78rnns8qiku56</string>
	<key>API_KEY</key>
	<string>AIzaSyBQyl2oKmExh1Gu3_KmOTKv7sny_LjsxY4</string>
	<key>GCM_SENDER_ID</key>
	<string>968288726776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.portfolio.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>portfolio-4029d</string>
	<key>STORAGE_BUCKET</key>
	<string>portfolio-4029d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968288726776:ios:5ec061f35b8736c14dd50d</string>
</dict>
</plist>